@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  background-color: aquamarine;
}
main{
  width: 100%;
  height: 40vh;
  background: url(./Img/kun.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.main-in{
  display: flex;
  height: 40vh;
  align-items: center;
  justify-content: center;

}
#select {
  width: 110px;
  height: 40px;
  text-transform: uppercase;
  color: #000;
  outline: none;
  font-weight: 600;
  border-radius: 10px;
  border: none;
}
.box {
  margin-left: 40px;
  display: flex;
  column-gap: 50px;
}
h2 {
  padding-top: 20px;
  color: rgb(14, 88, 39);
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Roboto Slab", serif;
  font-weight: 600;
}

h3 {
  margin-top: 15px;
  color: rgb(2, 2, 2);
  text-align: center;
  font-size: 24px;
  font-family: "Roboto Slab", serif;
}

.time_in {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px double #1cc465;
}



.time1 {
  width: 150px;
  height: 150px;
  background: transparent;
  border-radius: 50%;
  backdrop-filter: blur(5px);
}
img{
  position: absolute;
  top: 130px;
  left: 220px;
  width: 1100px;
}

.week{
  /* margin-top: 15.8%; */
  display: flex;
  width: 100%;
  height: 40vh;
  background-image: url(./Img/asr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 55;
  gap: 40px;
  p{
    font-size: 18px;
  }
  .namoz-vaqtlari-item{
    border: 4px double #0000007a;
    border-radius: 5px;
    background: transparent;
    backdrop-filter: blur(10px);
  }
  h3{
    margin-top: -4px;
    font-family: "Nunito", sans-serif;
    color: rgb(0, 0, 0);
  }
  p{
    font-size: 16px;
    font-family: "Nunito", sans-serif;
    color: rgb(0, 0, 0);
  }
  .line{
    display: none;
  }
}

@media screen and (max-width:800px){
  body{
    width: 100%;
    height: 1450px;
    background-color: darkslategray;
  }
  .main{
    width: 100%;
    display: block;
    background-image: none;
  }
  #select{
    display: block;
    margin: 0 auto;
  }
  .box{
    display: block;
  }
  .line{
    display: none;
  }
  h2{
    margin-top: 15px;
    font-size: 32px;
    color: rgba(0, 255, 255, 0.575);
  }
  h3{
    font-size: 32px;
    color: aqua;
  }
  .time1{
    margin-top: 70px;
    width: 300px;
    height: 150px;
    border-radius: 40px;
    margin-left: 5px;
  }
  .time_in{
    border-radius: 40px;

  }
  .week{
    margin-top: 1100px;
    background-image: none;
    display: block;
  }
}